# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS-specific files
.DS_Store

# Editor-specific files
.idea/
.vscode/
